form{
    display: block;
    margin:100px auto;
    width: 60vh;
    height: 50vh;
}
.form-floating{
    margin-top: 50px;

}

.col-12{
    margin-top:50px;
  
}
.btn{
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}