
<form class="row" [formGroup]='registrationform'>
    <legend>Register Form</legend>
    <div class="form-floating">
        <input formControlName='name' type="text" class="form-control" id="floatingname" placeholder="Name">
        <label for="floatingname">Name</label>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
      </div>

    <div class="form-floating">
        <input formControlName='email' type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
      </div>
      <div class="form-floating">
        <input formControlName='password' type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        
      </div>

      <div class="col-12">
        <button class="btn btn-primary" [disabled]='!registrationform.valid' type="submit"(click)="showme()">Submit form</button>
        <button class="btn btn-primary" (click) = "gotologin()">Goto Login</button>
      </div>
  </form>